<% provide(:title, 'Demo') %>

<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>


<div class="row blocco">
      <div class="span12 youtube">
             <div class="row">
                   <div class="span5 offset1">
                        <iframe width="480" height="360" src="http://www.youtube.com/embed/qObzgUfCl28?rel=0" frameborder="0" allowfullscreen></iframe>
                   </div>

                    <div class="span5 bannerino">
                            <center>

                               <div class="row span5">
                                        <%= image_tag "watch.png", :size => "130x40" %>
                               </div>


                              <div class="row span5" id="testo">
                                    <span>Guarda la demo</span>
                              </div>

                            </center>
                    </div>

             </div>
     </div>
</div>

<div class="row barra">
  <div class="span6 barra-item">
    <div class="row barra-img">
      <div class="span6">
        <%= image_tag("lampadina.jpg", :size => "140x60") %>
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <p class="barra-memo barra-testo-center">
          Reminiscence è uno strumento volto a motivare la conversazione la condivisione di storie di vita di persone più anziane
        </p>
      </div>
    </div>
  </div>


  <div class="span6 barra-item">
    <div class="row barra-img">
      <div class="span6">
        <%= image_tag("occhiali.jpg", :size => "160x60") %>
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <p class="barra-memo barra-testo-center">
          L'esposizione di racconti, storie e pensieri sarà accompagnata e sostenuta da delle immagini volte a stimolare la memoria
        </p>
      </div>
    </div>
  </div>

</div>


<div class="row presentazione_grigia">
  <div class="span5">
    <center>
      <%= image_tag("orologio.jpg", :size => "228x150") %>
    </center>
  </div>

  <div class="span6 presentazione_grigia_box">
    <p class="barra-testo">
    Potrai andare a spasso nel tempo e nella storia scoprendo o rivivendo luoghi e momenti del tuo passato.
      Scopri cosa ti circondava o cosa è cambiato col passare degli anni.
      Lasciati trasportare dalla curiosità ed esplora anche periodi che non hai vissuto
    </p>
  </div>
</div>

