<div class="row blocco" id="title_bar">
  <div class="span1 indietro">
    <center>
      <a href="javascript:history.back()">
        <%= image_tag("indietro.png", :size => "35x35") %>
      </a>
    </center>
  </div>

  <div class="span10">
    <center>
      <%= image_tag("touch_icon.png", :size => "70x70") %>
      Ecco i tuoi <span class="blue_text">ricordi</span>
    </center>
  </div>

  <div class="span1">
    &nbsp;
  </div>
</div>



<div class="row">
    <div class="span12" id="my-timeline">

    </div>
</div>


<script>

    function create_timeline(json)
    {
        createStoryJS({
            type: 'timeline',
            width: '100%',
            height: '600',
            source: json,
            embed_id: 'my-timeline'
        });
    }

    $(document).ready(function()
    {
        $.ajax(
        {
            dataType: "json",
            url: '<%= senior_timeline_path(@senior) %>',
            success: function(data){create_timeline(data)}
        });
    });

</script>


