<% if flash[:notice] %>
    <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><%= flash[:notice] %></strong>
    </div>
<% end %>